body{
    background: #000;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    display: block;
    margin: 0 auto;
    width: 365px;
}
img{
  margin-top: 80px;
}
#e1,#e2{
    background: rgb(78, 200, 41);
    display: block;
    height: 100px;
    margin: 20px auto;
    width: 400px;
}
#e1{
    background: #FF0040;
    height: 150px;
}

#e2{
    padding: 15px;
    border-radius: 60px 0 60px 0;
}
p{
    margin-left: 10px;
}
